@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #1a231a;
  --background-rgb: #dedcdc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #dedcdc;
    --background-rgb: #1a231a;
  }
}

.invert-colors {
  color: var(--background-rgb);
  background: var(--foreground-rgb);
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

div {
  border-color: var(--foreground-rgb);
}

hr {
  border-color: var(--foreground-rgb);
}
.invert-colors hr{
  border-color: var(--background-rgb);
}

.invert-colors div{
  border-color: var(--background-rgb);
}

svg {
  display: inline;
  fill: var(--foreground-rgb);
  stroke: var(--foreground-rgb);
}

.invert-colors svg {
  fill: var(--background-rgb);
  stroke: var(--background-rgb);
}

li {
  list-style: inside;
}
